@define-color colorPrimary #EAF5D8;
@define-color colorAccent #206B00;
@define-color borderPrimary #206B00;
@define-color textColorPrimary #206B00;

.titlebar,
.background {
    background-color: @colorPrimary;
    border: none;
    color: @textColorPrimary;
}

.moneta-toolbar {
    background: @colorPrimary;
    color: @textColorPrimary;
}

combobox > box > button {
    background: @colorPrimary;
    color: @textColorPrimary;
}

cellview {
    color: @textColorPrimary;
}

.negative-icon {
    color: #c6262e;
}

.positive-icon {
    color: #68b723;
}