@define-color accent_color @LIME_900;
@define-color background_color #EAF5D8;
@define-color text_color @LIME_900;

.titlebar,
.background {
    background-color: @background_color;
    border: none;
    color: @text_color;
}

.moneta-toolbar {
    background: @background_color;
    color: @text_color;
}

combobox > box > button {
    background: @background_color;
    color: @text_color;
}

cellview {
    color: @text_color;
}

.negative-icon {
    color: @STRAWBERRY_500;
}

.positive-icon {
    color: @LIME_500;
}